# Base project
runpod==1.7.7
numpy
Pillow>=10.0.0
requests>=2.31.0
huggingface_hub>=0.26.0
hf_transfer
imageio
imageio-ffmpeg
tqdm

# ComfyUI tambahan
sqlalchemy
aiosqlite
aiohttp
alembic
blake3
xformers
einops
einops-exts
ftfy
regex
safetensors
sentencepiece
protobuf
accelerate
transformers
diffusers
av
opencv-python-headless
librosa
soundfile
psutil
omegaconf
timm
pydantic
python-dotenv
